@font-face {
    font-family: 'FC Iconic [Non-commercial]';
    src: url('../fonts/FCIconicNoncommercial-Bold.woff2') format('woff2'),
        url('../fonts/FCIconicNoncommercial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FC Iconic [Non-commercial]';
    src: url('../fonts/FCIconicNoncommercial-BoldCompressed.woff2') format('woff2'),
        url('../fonts/FCIconicNoncommercial-BoldCompressed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FC Iconic [Non-commercial]';
    src: url('../fonts/FCIconicNoncommercial-BoldCondensed.woff2') format('woff2'),
        url('../fonts/FCIconicNoncommercial-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FC Iconic [Non-commercial]';
    src: url('../fonts/FCIconicNoncommercial-BoldExpanded.woff2') format('woff2'),
        url('../fonts/FCIconicNoncommercial-BoldExpanded.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FC Iconic [Non-commercial]';
    src: url('../fonts/FCIconicNoncommercial-Light.woff2') format('woff2'),
        url('../fonts/FCIconicNoncommercial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FC Iconic [Non-commercial]';
    src: url('../fonts/FCIconicNoncommercial-BoldWide.woff2') format('woff2'),
        url('../fonts/FCIconicNoncommercial-BoldWide.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Other font-face declarations remain unchanged */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'FC Iconic [Non-commercial]';
    font-weight: normal;
    line-height: 1.6;
    scroll-behavior: smooth; /* Smooth scrolling */
}

.header {
    position: relative;
    height: 100vh;
    background-size: cover; 
    background-position: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color: white; 
    text-align: left; 
    padding: 20px; 
    opacity: 0; 
    animation: fadeIn 1s forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header-content {
    position: relative; 
    z-index: 2; 
    display: flex; 
    align-items: center; 
    animation: slideIn 0.5s forwards; 
    opacity: 0; 
    transform: translateX(-50px); 
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.text-color {
    color: #FFF;
}

.food-icon {
    font-size: 2.5rem; /* Adjusted for responsiveness */
    margin-right: 10px; 
    transition: transform 0.3s; 
}

.food-icon:hover {
    transform: scale(1.1); 
}

/* Navbar styles */
nav {
    position: absolute; 
    top: 20px; 
    left: 0;
    right: 0;
    z-index: 2; 
    text-align: center; 
    padding: 10px 0; 
}

nav ul {
    list-style: none; 
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline; 
    margin: 0 15px; 
}

nav ul li a {
    color: #FFF; 
    text-decoration: none; 
    font-weight: 500; 
    transition: color 0.4s ease, text-decoration 0.4s ease; /* Reduced duration for quicker color change */
}

nav ul li a:hover {
    /* text-decoration: underline;  */
    color: #ffcc00;
    font-weight: 500; 
}

  
/* Navbar for Desktop View */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 1rem;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Hamburger Button */
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px;
    cursor: pointer;
    margin: 20px;
    transition: transform 0.3s ease;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0
  }
  
  .hamburger .line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .hamburger.open .line {
    background-color: #000
  }

  /* Toggle Animation */
  .hamburger.open .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  /* Mobile Navigation Menu */
  .menu-sm {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #c6BCA3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    z-index: 3;
  }
  
  .menu-sm ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .menu-sm ul li {
    margin: 5px 0;
    display: block;
    text-align: left;
  }
  
  .menu-sm ul li a {
    font-size: 1.5rem;
    color: #333;
  }
  
  /* Display Mobile Menu When Open */
  .menu-sm.open {
    display: flex;
  }
  
  /* Responsive Media Queries */
  @media (max-width: 768px) {
    #navbar {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.header h1 {
    font-size: 2.25em;
    max-width: 80%;
    color: #FFF;
    line-height: 1.2;
    word-wrap: break-word;
    animation: fadeIn 1.5s ease-in-out; /* Applies fade-in animation */
    z-index: 2;
}

.text-center {
    text-align: center;
}

section {
    padding: 40px; 
}

section .title {
    margin-bottom: 1em;
}

@media (max-width: 768px) {
    section {
        padding: 15px; 
    }
}

@media (max-width: 480px) {
    section {
        padding: 10px; 
    }
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}

#gi-products {
    /* padding: 20px; */
}

#gi-products h2, #gi-products h3 {
    margin-bottom: 20px;
    text-align: center;
}

#gi-products .storyline {
    text-align: center;
}

#gi-products .storyline h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

#gi-products .storyline p {
    font-size: 1.1em;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}

.gi-products-container {
    display: flex; 
    overflow-x: auto; 
    scroll-behavior: smooth; 
    padding-bottom: 1em;
}

.gi-product {
    flex: 0 0 auto; 
    width: 200px; 
    margin-right: 10px; 
    padding: 10px;
    text-align: center;
}

.gi-products-slider {
    position: relative;
}

.gi-product-image {
    width: 100%; 
    height: auto; 
}

.gi-product-name {
    margin-top: 10px;
}

.storyline {
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    position: relative;
    text-align: center;
}

.storyline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.storyline-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
    animation: fadeIn 1.5s ease-in-out; 
}

.storyline h3 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.storyline p {
    /* font-size: 1.2em; */
    line-height: 1.8;
    margin-bottom: 20px;
}

.storyline .highlight {
    color: #ffd700; 
    font-weight: bold;
    font-size: 1.3em;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.map-title {
    margin-bottom: 1em;
}

.map-container {
    width: 100%; 
    max-width: 800px; 
    height: 450px; 
    margin: 0 auto; 
    position: relative;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
    border: 5px solid #d1b375; 
    border-radius: 15px; 
}

.map-section {
    padding: 20px; 
    text-align: center; 
    animation: fadeIn 1.5s ease-in-out;
}

#map {
    width: 100%; 
    height: 100%; 
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
    .gi-products-container {
        flex-wrap: nowrap; 
        overflow-x: auto; 
    }

    .gi-product {
        min-width: 150px; 
        margin-right: 5px; 
    }
}

@media (max-width: 480px) {
    .gi-product {
        min-width: 120px; 
    }
}


/* GI Products Section */
.gi-products-section {
    padding: 20px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.gi-products-section .title {
    margin-bottom: 1em;
}

.gi-product-grid {
    display: grid; /* Use CSS Grid layout */
    grid-template-columns: repeat(5, 1fr); /* Create 5 equal columns */
    gap: 10px; /* Space between grid items */
    margin-bottom: 20px; /* Space below the grid */
    max-width: 80%; /* Limit maximum width of the grid */
    margin: 0 auto; /* Center the grid horizontally */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .gi-product-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns on medium screens */
    }
}

@media (max-width: 992px) {
    .gi-product-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on smaller screens */
    }
}

@media (max-width: 768px) {
    .gi-product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    }
}

@media (max-width: 576px) {
    .gi-product-grid {
        grid-template-columns: 1fr; /* 1 column on mobile */
    }
    .gi-product-item img {
        width: 50%;
    }
}


.gi-product-item {
    text-align: center;
    padding: 5px; /* Reduced padding */
    
}

.gi-product-item img {
    width: 100%; /* Smaller image size */
    height: auto;
    display: block;
    margin: 0 auto 5px; /* Reduced bottom margin */
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 6px;
}

.gi-product-item:hover img {
    opacity: .8;
}

@media (max-width: 576px) {
    .gi-product-item img {
        width: 50%;
    }
}

.gi-product-item p {
    font-size: 0.8em; /* Smaller text for product name */
    margin-top: 5px;
}

.load-more-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.load-more-btn:hover {
    background-color: #45a049;
}

/* Project Info Section */
.project-info-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    overflow: hidden;
}

.project-info-container {
    width: 90%;
    max-width: 1200px;
    position: relative;
}

.project-info-background {
    position: relative;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

.project-info-background img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.project-info-content {
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translate(-50%, -50%);
    background: #FFF;
    border-radius: 6px;
    padding: 2em;
    border: 3px solid #D1B377;
    width: 80%;
    max-width: 500px;
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

.project-info-content h2 {
    margin-bottom: 15px;
}

.project-info-content p {
    line-height: 1.5;
    margin: 0 auto;
}

/* Keyframes for Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .project-info-content {
        position: static;
        transform: none;
        width: 100%;
        max-width: 100%;
        padding: 1.5em;
        margin-top: 1em;
        animation: fadeIn 1s ease-in-out forwards;
    }
}

.learn-more-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.learn-more-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 20px; */
}

.recipe-section {
    background-color: #C6BCA3;
    padding: 40px 0;
    opacity: 0; /* Start as invisible */
    transform: translateY(20px); /* Start slightly lower */
    transition: opacity 0.7s ease, transform 0.7s ease; /* Smooth transition */
}

.recipe-section.animate {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Original position */
}

.section-title {
    font-size: 2rem;
    color: #4b372b;
    margin-bottom: 20px;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 1200px) {
    .recipe-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for tablets and small desktops */
    }
}

@media (max-width: 768px) {
    .recipe-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets and larger mobile screens */
    }
}

@media (max-width: 480px) {
    .recipe-container {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }
}

.recipe-content {
    margin-bottom: 2em;
}

.recipe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.recipe-item img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #FFF;
}

.recipe-text {
    margin-top: 8px;
    font-size: 14px;
    background-color: #FFF;
    color: #A37C2A;
    padding: 8px 10px;
    border-radius: .4em;
}

#event-section {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
}

#event-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row on desktop */
    gap: 20px;
}

/* Event Card Styles */
.event-card {
    border: 1px solid #ddd;/
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.event-poster {
    width: 100%;
    height: auto;
}

.event-content {
    padding: 20px;
    padding-top: 0;
}

.event-card h3 {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.event-card p {
    color: #555;
    margin: 5px 0;
}

.date, .location {
    font-weight: bold;
}

.description {
    font-style: italic;
}

/* Responsive adjustments for tablet and mobile */
@media (max-width: 992px) {
    .event-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on tablet */
    }
}

@media (max-width: 600px) {
    .event-grid {
        grid-template-columns: 1fr; /* 1 item per row on mobile */
    }
}

/* Container for the Facebook Page plugins */
.fb-container {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    justify-content: center; /* Center the items */
    margin: -10px; /* Adjust for spacing between items */
}

/* Individual Facebook Page plugin styles */
.fb-page {
    display: inline-block; /* Keep elements inline */
    margin: 10px; /* Add margin for spacing */
    width: 300px; /* Set a specific width for consistency */
    flex: 1 1 300px; /* Allow items to grow and shrink */
    max-width: calc(100% / 4 - 20px); /* Max width to fit four items in a row */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .fb-page {
        max-width: calc(100% / 2 - 20px); /* Two items per row on medium screens */
    }
}

@media (max-width: 480px) {
    .fb-page {
        max-width: 100%; /* Full width on small screens */
    }
}